@media screen and (max-width:768px) {
.herocontainer{
    flex-direction: column;
}
.navlist li a{
    font-size: .1rem;
}
 .headcontent{
    width: 100%;
 }
 .portfolioimg{
    width: 100%;
 }
 .heading1{
    font-size: 2rem;
 }
 .heading2{
font-size: 1.5rem;
}
 .heading3{
font-size: 1rem;
 }
 .button p a{
padding: 1rem;
 }
.aboutcontainer{
    flex-direction: column;
}
.abtcontent{
    width: 100%;
}
.codeimg{
    width: 100%;
}
.tech h2{
    font-size: 1.5rem;
}
.skills{
    flex-direction: column;
}
img{
    width: 80%;
}
.btn{
    width: 80%;
}
.skillimg{
    width: 100%;
    display: none;
}
.port{
    display: grid;
    grid-template-columns:auto;
}
.card {
    box-shadow: 0 4px 8px 0 rgb(4, 213, 42);
    transition: 0.3s;
    width: 300px;
    height: 300px;
    border-radius: 5px;
  }
  .text{
    width: 80%;
  }
  .homenav li{
    padding: 3px;
    display: none;
  }
  .homenav li a{
    font-size: 1rem;
  }
  .menu{
    display: block;
  }
  .link1,.link2,.link3,.link4{
    display: block;
    margin: 15px;
    padding: 15px;
    color:whitesmoke;
    background-color: hsl(216, 65%, 11%);
    border: 1px solid whitesmoke;
    cursor: pointer;
}
.l1:hover{
    border: 1px solid #64ffda;
    color:#64ffda;
    background-color: hsl(218, 96%, 11%);
}
.list2,.list3,.list4{
    display: none;
}
.l2 li:nth-child(1){
    list-style: none;
    color:#64ffda;
    font-weight: bold;
    padding: 15px;
    }
.list1,.list2,.list3,.list4{
    list-style:inside;
    font-size: 16px;
  color: whitesmoke;
}

.past{
  flex-direction: column;
}
.expast{
    width: 80%;
}
.lista{
    width: 80%;
}
}
@media screen and (min-width:769px)and (max-width:1130px){
    .port{
    display: grid;
    grid-template-columns:300px 300px;
    gap: 30px;
}
.card {
    box-shadow: 0 4px 8px 0 rgb(4, 213, 42);
    transition: 0.3s;
    width: 300px;
    height: 300px;
    border-radius: 5px;
  }
  .list1,.list2,.list3,.list4{
    font-size: 15px;
}
.expast{
    width: 30%;
}
.lista{
    width: 70%;
}
img{
    width: 80%;
}
p a img{
    width: 40px;
  }
}
